
.user-page
  .panel.clearfix
    .row
      .user-avatar= image_tag @user.avatar.url
      .user-tabs
        %h5 #{@user.nickname} さん
        %ul.button-group
          %li
            = link_to '写真一覧', user_path(@user), class: 'button'
          %li
            = link_to 'ペット情報', user_pets_path(@user), class: 'button'
          - if @user == current_user
            %li
              = link_to 'MyPetリスト', mypet_user_pets_path(@user), class: 'button'
.contents.clearfix
  .left-content.clearfix
    - @pets.each do |pet|
      .mypet
        .thumbnail{ style: "background-image: url(#{pet.thumbnail})" }
        .pet-name= pet.name
        %ul.pet-information
          %li
            Breed：
            = pet.breed
          %li
            Sex：
            = pet.sex
          %li
            Birthday：
            = pet.birthdate
          %li
            Weight：
            = pet.weight
        .free-memo
          .header -Memo-
          .memo-content= pet.free_comment
  .right-content.user-info
    - if @user.avatar.present?
      .avatar{ style: "background-image: url(#{@user.avatar.url})"}
    - else
      .avatar{ style: "background-image: url(#{asset_path('no-image.png')})"}
    - if @user.is_?(current_user)
      %p.user-name
        [
        = link_to 'アイコンを変更', edit_user_path(@user)
        ]
    %p.orange.user-name= @user.nickname
    %p.user-comment= @user.profile
